.chair-selector> ul> a> img {
    width: 30%;
    height: auto;
}
ul {
    list-style: none;
}
.scroll {
    height: 650px;
    overflow-y: scroll;
}
.moreinfo {
    align-content: right;
}
.imageheader img {
    width: 100%;
    height: auto;
    padding: 30px 0 30px 0;
}
.justify {
    text-align: justify;
}
.producttitle {
    text-align: center;
    font-stretch: expanded;
    padding: 5px 0 10px 0;
}
body {
    font-family: 'Play', sans-serif;
    font-size: 16px;
}


.description-header {
    font-weight: 200;
}
.pricingtable  {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 5px 0 10px 0;

}

.cert img.center {
    display: block;
    margin: 0 auto;
}

.cert {
  padding: 10px 0 0 0;
}

.modal-image {
  position: relative;
  height: 100%;
  width: 100%;


}

.searchbar form {
text-align: right;

}

.thumbnail {

    border: 0;
  }

.caption {
background-color: lightgray;

}

.pricingtable tr:nth-child(odd) {
background: #CCC;
}

.pricingtable tr:first-child {
background:  #666666;
}


.modal-image img{
width: 50%;

}

.modal-header h2{
text-align: center;

}

.social-icons td {
  padding:10px;
}

.pricingtable td, th {
  text-align: center;
}

.imgheader img {
  width:100%;
}

.modal-body li {
list-style-type: circle;

}

.footercenter {
text-align: center;}

.footercenter img a{
padding-bottom: 5px}

.centered {
  padding: 0 25px 0 25px;
}

@media (min-width: 768px){
.modal-dialog {
    width: 90%;
    margin: auto;
  }}
